body {
	background: rgb(58, 57, 57);
	font-family: sans-serif;
	line-height: 1.5;
}

.none {
	display: none;
}

#avatar {
	width: 200px;
}

/* Шапка */
.simple-todo {
	color: white;
	background: #0000003f;
	padding: 5px 20px 20px;
	border-radius: 22px;
}

header {
	color: white;
	padding: 20px 30px 20px;
	background-color: #0000003f;
	border-radius: 22px;
}

header h1 {
	margin-top: 0;
}

h1 {
	font-size: 38px;
	font-weight: 600;
	margin-bottom: 5px;
}

.school-name {
	font-size: 20px;
	font-weight: 600;
	color: #bba800;
}

/* Общие стили */

.dom-example {
	margin-top: 40px;
	margin-bottom: 40px;
}

.example-block {
	margin: 30px 0px;
}

.text-block {
	background-color: rgb(204, 214, 223);
	padding: 15px;
	height: 30px;
	font-size: 22px;
}

/* Конвертер валют */

.currency-box {
	max-width: 400px;
}

.currency-row {
	border: 1px solid rgb(175, 175, 175);
	display: flex;
	align-items: center;
	overflow: hidden;
}

.currency-row:first-child {
	border-radius: 6px 6px 0 0;
}

.currency-row:last-child {
	border-radius: 0 0 6px 6px;
}

.currency-row:not(:last-child) {
	margin-bottom: -1px;
}

.currency-info {
	margin-right: 15px;
	padding: 10px 15px;
	height: 100%;
	background-color: #e3e3e3;
	font-size: 22px;
}

.currency-row span {
	font-size: 22px;
	font-weight: 20;
	margin-right: 10px;
}
